/* Color variables */

$color-green: #a5d9c8;
$color-blue: #020056;
$color-yellow: #f6f0c6;
$color-gray: #e5e5e5;
$color-white: #fff;

/* Font weight variables */

$font-default: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", Helvetica, Arial, sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

/* Border radius variables */

$border-radius-xs: 0.2rem;
$border-radius-s: 0.5rem;
$border-radius-m: 1rem;
$border-radius-l: 2.4rem;
